<div class="hide-on-small-only">
  <div class="col m2">
    Friends!
  </div>
</div>
<div class="col s12 m10">
  Messages to you
  <%= react_component('PostApplication', posts_url: my_direct_messages_path) %>
</div>
<div id="snackbar-error">
</div>
<div id="snackbar-info"></div>
