<div class="row">
  <div class="col m4 hide-on-small-only">
    <%= render 'shared/friends_component' %>
  </div>
  <div class="col s11 m4">
    <%= render 'shared/posts_component' %>
  </div>
  <div class="col m4 hide-on-small-only">
    <%= render 'shared/chatbox_component' %>
  </div>
</div>
