<div class="row">
  <% if current_user %>
      Current user: <%= current_user.username %>
  <% end %>
</div>
<div class="row">
  <div class="col s2">
    Friends!
  </div>
  <div class="col s10">
    <%= react_component('PostApplication', posts_url: posts_by_tag_path(params[:tag]) ) %>
  </div>
  <div id="snackbar-error">
  </div>
  <div id="snackbar-info"></div>
</div>