<div class="row">
  <% if current_user %>
      Current user: <%= current_user.username %>
  <% end %>
</div>
<div class="row">
  <div class="col m2 hide-on-small-only">
    Friends!
  </div>
  <div class="col s10 m6">
    <%= react_component('PostApplication', posts_url: posts_path) %>
  </div>
  <div class="col s2 m4 hide-on-small-only">
    <%= render 'chats/chatbox_component' %>
  </div>
</div>
