<div class="row">
  <div class="col-sm-4">
    Friends!
  </div>

  <div class="col-sm-6">

    <% @posts.each do |post| %>
        <%= render 'shared/post_card', post: post %>
    <% end %>

  </div>
  <div class="col-sm-2">
    <%= render 'shared/live_feed' %>
  </div>
</div>