default: &default

  # Background jobs via sidekiq
  sidekiq:
    max_retries: 10
    url: 'redis://localhost:6379'
    namespace: "commin_development"

  # Redis
  redis:
    url: 'redis://localhost:6379/0'

  # WebSockets
  ws:
    url: "ws://localhost:3000/cable"

  # Rack attack settings
  rack_attack:
    protect: <%= %w(/admin/login, /) %>
    # How long the client should wait
    # default <%= 60.seconds %>
    limit_for: <%= 5.minutes %>
    # default
    # rate_limit: 10

  # Defaults
  elasticsearch:
    # defaults to 9200
    urls: ["http://localhost:9201"]
    log: true

development:
  <<: *default

test:
  <<: *default
production:
  <<: *default