<div class="row">
  Current user: <%= current_user.username %>
</div>
<div class="row">
  <div class="col s2">
    Friends!
  </div>
  <div class="col s10">
    <%= react_component('PostApplication', posts_url: posts_path ) %>
  </div>
  <div id="snackbar-error">
  </div>
  <div id="snackbar-info"></div>
</div>