<div class="row">
  <div class="col m2 hide-on-small-only">
    Friends!
  </div>
  <div class="col s11 m5">
    <%= react_component('PostApplication', posts_url: posts_path) %>
  </div>
  <div class="col m4 hide-on-small-only">
    <%= render 'chats/chatbox' %>
  </div>
</div>
