.nav-slider {
  background-color: rgba(229,229,229, 0.85);
  border-radius: 8px;
  font-size: $navlist-font-size;
  font-weight: $bold-font-weight;
}

.nav-slider a.active {
  color: $active-link-color;
  font-size: ($navlist-font-size * 1.10);
}