// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-face {
  padding: 0 !important;
  width: auto !important;
}

.user-info {
  margin-right: -10px;
}

.friends {
  margin-left: -13px !important;
}