// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-app {
  position: fixed;
  .chat-room #messages {
    height: 500px;
    min-width: 300px;
    overflow-y: scroll;
  }
}
