body {
  background-color: #fff;
  color: #333;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: $base-margin;
}

a {
  color: $link-color;

  &:visited {
    color: $visited-link-color;
  }

  &:hover {
    color: $hover-link-color;
  }
}

label {
  display: block;
}

.rposition {
  position: relative;
  display: inline-block;
}
ul.scoot-up {
  margin-top: -5px;
  right: 34px !important;
}

.card .card-action {
  padding: 0px;
  ul {
    padding: 7px;
  }
}