body {
  background-color: $body-background-color;
  color: #333;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: $base-margin;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

a {
  color: $link-color;

  &:visited {
    color: $visited-link-color;
  }

  &:hover {
    color: $hover-link-color;
  }
}

label {
  display: block;
}

.rposition {
  position: relative;
  display: inline-block;
}

ul.scoot-up {
  margin-top: -5px;
  right: 34px !important;
}

.card .card-action {
  padding: 0px;
  ul {
    padding: 7px;
  }
}

.hoverable {
  cursor: pointer;
}

p {
  @include font-size($p-font-sizes)
}