<% if alert %>
    <div class="alert alert-danger" role="alert">
      <strong><%= alert %></strong>
    </div>
<% end %>
<% if notice %>
    <div class="alert alert-notice" role="alert">
      <strong><%= notice %></strong>
    </div>
<% end %>
