<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<main>
  <%= render 'layouts/navbar' %>
  <div class="container-fluid top-buffer">
    <div class="row">
      <div class="left">
        <%= render 'layouts/alerts' %>
      </div>
      <div class="col s12">
        <%= yield %>
      </div>
      <div id="snackbar-error">
      </div>
      <div id="snackbar-info"></div>
    </div>
  </div>
</main>

</body>
</html>
