<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<!--Start your project here-->
<div class="container-fluid">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/alerts' %>
  <!--<main class="bmd-layout-content">-->
  <main>
    <!--/Start your project here-->
    <%= yield %>
  </main>
</div>

</body>
</html>
